{% extends "base.html" %}
{% block title %}Forum{% endblock %}
{% block head %}
    <script>
        $(document).ready(function () {
            $(".filter").click(function () {
                if ($(this).attr("id") == "all") {
                    $(".post-preview").show();
                }
                if ($(this).attr("id") != "all") {
                    var text = $(this).clone().children().remove().end().text().trim();
                    $("#" + text).show();
                    $(".post-preview:not(#" + text + ")").hide();
                }

            });

        });
    </script>
{% endblock %}
{% block content %}
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="section-title" data-aos="zoom-in">
                <h2>Forum</h2>
                <h3>Check our <span>forum</span></h3>
                <p>Here, you can exchange your opinions with other experienced coaches.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter" id="all">All</li>
                        {% for tag in tags %}
                            <li data-filter=".filter-app" class="filter" id="else" value="{{ tag }}">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% for thread in threads %}
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up">
                    <div class="post-preview" id="{{ thread.tag }}">
                        <a href="{{ url_for('thread' ,thread_id=thread.id) }}">
                            <h2>{{ thread.title }}</h2>
                        </a>
                        <p>Posted by {{ thread.user.name }} </p>
                        <hr>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section><!-- End Portfolio Section -->
{% endblock %}
