{% extends "base.html" %}
{% block title %}Main{% endblock %}

<!--
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Welcome to Remember</h1>
        <h2>We are team of talented designers making websites with Bootstrap</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section>-->

{% block content %}


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>Login</h2>
                <h3>Log in to <span>Sphera</span></h3>
            </div>

            <div class="row mt-5">


                <div class="col-lg-12 mt-5 mt-lg-0" data-aos="fade-left">

                    <form method="post" role="form" action="" novalidate>
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <td>{{ form.username(class_="form-control") }}</td>
                            </div>
                            <div class="col-md-12 form-group">
                                <td>{{ form.password(class_="form-control") }}</td>
                            </div>
                            <div class="text-center">
                                {{ form.hidden_tag() }}
                                <button type="submit" name="submit" value="x">{{ form.submit() }}</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

{% endblock %}
