{% extends "base.html" %}
{% block title %}common-training-techniques{% endblock %}

{% block content %}
    <section class="tech-containers">
        <div class="section-title">
            <h2>Common Drills</h2>
            <h3>Need some<span id="tech-head"> inspiration</span>?</h3>
        </div>
        <div class="tech-accordion">
            <button class="tech-accordion-button">Defence</button>
            <div class="tech-accordion-content">
                <button class="tech-accordion-button inner-accordion">Forcing Wide</button>
                <div class="tech-accordion-content">
                    <h4>Organisation:</h4>
                    <p>Set up a an area approximately 5m square. Two teams of four players, one attacking the other defending. Attacking team pass the ball around the area while defence try to restrict their space by staying on the inside and forcing them out. Place a time limit or number of interceptions before swapping teams over.</p>
                    <h4>Coaching Points:</h4>
                    <ul>
                        <li>Defenders position body so attacking player has to move away from the ball.</li>
                        <li>Defending unit must communicate in order to work together successfully.</li>
                    </ul>
                    <h4>Progressions:</h4>
                    <ul>
                        <li>Increase the space in order to make achieving successful interceptions more challenging. Likewise if success is not being achieved by the defenders, the space can be made smaller.</li>
                    </ul>
                </div>
            </div>
            <button class="tech-accordion-button">Offence</button>
            <div class="tech-accordion-content">
                <button class="tech-accordion-button inner-accordion">Centre Pass 1</button>
                <div class="tech-accordion-content">
                    <h4>Organisation:</h4>
                    <p>8 players - 4 attackers, 4 defenders in two-thirds of the court. Players position themselves in a standard centre pass formation. C passes to GA who has made a diagonal drive into the centre third. Meanwhile WA drives to the top of the shooting area to receive the next pass. WA then passes to the GS. </p>
                    <h4>Coaching Points:</h4>
                    <ul>
                        <li>Ensure passes are accurate and into the space, enabling the moving player to attack the ball.</li>
                        <li>Use arms to maximise speed on sprints.</li>
                        <li>Land in an upright and balanced position to receive all passes and for the WA – as close the circle edge as possible.</li>
                    </ul>
                    <h4>Progressions:</h4>
                    <ul>
                        <li>Vary the starting positions of the attackers e.g. on the inside of the defender.</li>
                        <li>Increase the pressure from the defenders.</li>
                    </ul>
                </div>
            </div>
            <button class="tech-accordion-button">Shooting</button>
            <div class="tech-accordion-content">
                <button class="tech-accordion-button inner-accordion">Stationary Technique</button>
                <div class="tech-accordion-content">
                    <h4>Organisation:</h4>
                    <p>1 post, 1 ball, 1 shooter. Take up a stationary position close to the post. Use the techniques listed in the coaching points to perfect your shooting skill.</p>
                    <h4>Coaching Points</h4>
                    <h5>Ready Position:</h5>
                    <ul>
                        <li>Feet in a comfortable forward facing position, not too far apart.</li>
                        <li>Balanced position, with equal weight on both feet and hips facing the front.</li>
                        <li>Ball held by dominant hand and high above the head. Fingers point back and are slightly open, ball sits in your hand.</li>
                        <li>Second hand is placed at the side of the ball to steady its position.</li>
                        <li>Elbows slightly flexed, lined in the direction of the post.</li>
                    </ul>
                    <h5>Execution:</h5>
                    <ul>
                        <li>Focus on a point above the ring to give height to your shot.</li>
                        <li>Power through the ankles by pushing up through slightly flexed knees.</li>
                        <li>Maintain balanced position.</li>
                        <li>Flex elbows not allowing the ball to drop behind your head.</li>
                        <li>Wrist flicks as the ball is released off the fingers in order to create a backwards spin.</li>
                        <li>Fingers follow the ball on a high trajectory towards the post, dropping in to the ring.</li>
                        <li>Aim to drop the ball through the net without it touching the ring.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}