{% extends "base.html" %}
{% block title %}common-training-techniques{% endblock %}

{% block content %}
    <section class="technique-cotnainers">
        <div class="accordian">
            <button class="accordian-button">Easy</button>
            <div class="accordian-content">
                <p>Lorem Ipsum</p>
            </div>
            <button class="accordian-button">Medium</button>
            <div class="accordian-content">
                <p>Lorem Ipsum</p>
            </div>
            <button class="accordian-button">Hard</button>
            <div class="accordian-content">
                <p>Hello team</p>
            </div>
        </div>
    </section>
{% endblock %}