{% extends "base.html" %}
{% block title %}common-training-techniques{% endblock %}

{% block content %}
    <section class="tech-cotnainers">
        <div class="tech-accordion">
            <button class="tech-accordion-button">Easy</button>
            <div class="tech-accordion-content">
                <button class="tech-accordion-button">Test tech</button>
                <div class="tech-accordion-content">
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <button class="tech-accordion-button">Medium</button>
            <div class="tech-accordion-content">
                <p>Lorem Ipsum</p>
            </div>
            <button class="tech-accordion-button">Hard</button>
            <div class="tech-accordion-content">
                <p>Hello team</p>
            </div>
        </div>
    </section>
{% endblock %}